@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: rgb(20, 162, 32);
}

#randomCard {
  border: 5px solid rgb(13, 72, 111);
  border-radius: 60px;
  margin: 30px;
  background: rgb(197, 236, 174);
  font-family: "Dosis", sans-serif;
  color: rgb(56, 61, 53);
  min-height: 70px;
}
#card {
  background: whitesmoke;
  font-size: 0px;
  width: 300px;
  height: 400px;
  display: flex;
}
.col {
  justify-content: center;
  display: flex;
}
h1 {
  align-items: center;
  display: flex;
  flex-direction: column;
}
#up {
  float: left;
}
#down {
  float: right;
}
.card {
  width: 300px;
}
