@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: rgb(20, 162, 32);
}

#randomCard {
  border: 5px solid rgb(54, 155, 223);
  border-radius: 20px;
  margin: 30px;
  background: rgb(94, 172, 152);
  font-family: "Dosis", sans-serif;
  color: rgb(13, 15, 12);
  min-height: 70px;
  box-shadow: 10px 10px;
}

#card {
  background: rgb(208, 204, 204);
  width: 300px;
  height: 400px;
  display: flex;
  border-radius: 10%;
  border: 2px solid black;
  box-shadow: 10px 10px;
}

h1 {
  font-size: 80px;
  font-family: "Dosis", sans-serif;
}
h3 {
  font-size: 100px;
  font-family: "Dosis", sans-serif;
}
.card {
  width: 300px;
  border-radius: 10%;
}
#hint-top {
  justify-content: left;
  display: flex;
}
#hint-botton {
  justify-content: right;
  display: flex;
}
